{{!--<div class="top-bar">
        <div class='top-bar-content'>
          <!--<a href='/' class="logo">MOGS - Share Together</a>-->
          {{#if authenticated}}
              <a class="login-button" href="/auth/logout">LOGOUT</a>
          {{else}}
              <a class="login-button" href="/auth/google">LOGIN</a>
          {{/if}}
        </div>
</div>--}}

<style type="text/css">
#nav-custom {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 1.5em 0 1.5em 0;
		z-index: 1;
        color: black;
        font-weight: bold;
	}

		#nav-custom > ul {
			line-height: 0px;
			position: relative;
			display: inline-block;
			margin: 0;
			height: 21px;
			border-left: solid 1px black;
			border-right: solid 1px black;
		}

			#nav-custom > ul:before, #nav-custom > ul:after {
				content: '';
				display: block;
				width: 300%;
				position: absolute;
				top: 50%;
				margin-top: -2px;
				height: 5px;
				border-top: solid 1px black;
				border-bottom: solid 1px black;
			}

			#nav-custom > ul:before {
				left: 100%;
				margin-left: 1px;
			}

			#nav-custom > ul:after {
				right: 100%;
				margin-right: 1px;
			}

			#nav-custom > ul > li {
				display: inline-block;
				margin: -9px 0.5em 0 0.5em;
				border-radius: 0.5em;
				padding: 0.85em;
				border: solid 1px transparent;
				-moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			}

				#nav-custom > ul > li.active {
					border-color: rgba(192, 192, 192, 0.35);
				}

				#nav-custom > ul > li > a, #nav-custom > ul > li > span {
					display: block;
					color: inherit;
					text-decoration: none;
					border: 0;
					outline: 0;
				}

				#nav-custom > ul > li > ul {
					display: none;
				}
                    	.dropotron {
		background: rgba(255, 255, 255, 0.975);
		padding: 1em 1.25em 1em 1.25em;
		line-height: 1em;
		height: auto;
		text-align: left;
		border-radius: 0.5em;
		box-shadow: 0 0.15em 0.25em 0 rgba(0, 0, 0, 0.25);
		min-width: 12em;
		margin-top: -1em;
	}

		.dropotron li {
			border-top: solid 1px rgba(128, 128, 128, 0.2);
			color: #5b5b5b;
		}

			.dropotron li:first-child {
				border-top: 0;
			}

			.dropotron li:hover {
				color: #ef8376;
			}

			.dropotron li a, .dropotron li span {
				display: block;
				border: 0;
				padding: 0.5em 0 0.5em 0;
				-moz-transition: color 0.35s ease-in-out;
				-webkit-transition: color 0.35s ease-in-out;
				-ms-transition: color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}

		.dropotron.level-0 {
			margin-top: 2em;
			font-size: 0.9em;
		}

			.dropotron.level-0:before {
				content: '';
				position: absolute;
				left: 50%;
				top: -0.7em;
				margin-left: -0.75em;
				border-bottom: solid 0.75em rgba(255, 255, 255, 0.975);
				border-left: solid 0.75em rgba(64, 64, 64, 0);
				border-right: solid 0.75em rgba(64, 64, 64, 0);
			}

</style>
 <link rel="stylesheet" href="lib/animate.css">
 <link rel="stylesheet" href="stylesheets/todolist.css">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<nav id="nav-custom">
	<ul>
			<li><a class="animsition-link"  href="/">Home</a></li>
			<li><a class="animsition-link"  href="/chathome">Chat Room</a></li>
			<li><a class="animsition-link"  href="/viewstory">Story Room</a></li>
			{{!--<li><a href='/entertain'>Journal</a></li>--}}
			<li><a class="animsition-link"  href='/mentor'>Mentor</a></li>
			<li id="todo-anchor">Todo List</li>
			<li><a class="animsition-link"  href='/journal'>Journal</a></li>
			{{#if authenticated}}
				<li><a class="animsition-link"  href='/myProfile'>Profile</a></li>
			{{/if}}
			<li>
			{{#if authenticated}}
				<a  href="/auth/logout">LOGOUT</a>
			{{else}}
				<a  href="/auth/google">LOGIN</a>
			{{/if}}
			</li>
	</ul>
</nav>

<div class="floating-todo-container mini-container main-todo-container animated bounceIn">
            <h3>My Todolist</h3>
            <div class='list-wrapper'>
                <div class="list-header">
                    <div class='todolist-header'>In-Progress</div>
                    <button class="undo-button button-style-1"  style="display: none;" onclick='undoDelete();'>
                        <i class="fa fa-undo " aria-hidden="true"></i>
                        Undo Delete
                    </button>
                </div>
                <ul id='todo-list' class="sortable todo-inprogress-set">
                        <div class='list'>
                            <li id='list-item-template' class='list-item sort-list' style='display:none;'>
                                <div class='list-checkbox'></div>
                                <div class='list-content edit-label' tabindex='0'></div>
                                <div class='list-control-panel'>
                                    <div class="list-delete-button"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                                </div>
                            </li>
                        </div>
                        <li id='add-task-container' class='list-item'>
                            <div class='list-checkbox-disabled'></div>
                            <input class='list-content add-task' placeholder='Add a new task here' tabindex='0'></input>
                        </li>
                        <div class="detailed-view" style="display: none;">
                            <button class="button-style-1 dv-back-button">Back</button>
                            <h2 class='dv-task-title'>No Title</h2>
                            <div class="dv-headers">Due Date</div>
                            <p class="dv-due-date">
                                <button class='button-style-1 dv-due-yes'>YES</button>
                                <button class='button-style-1 dv-due-no'>NO</button>
                                <span class='dv-due-date-text' style="display: none;">12/17/2016</span>
                            </p>
                            <div class="dv-headers">Description</div>
                            <textarea class="dv-description"></textarea>
                        </div>
                </ul>
        
            </div>

            <div class='list-wrapper'>
                <h2 class="todolist-header">Completed</h2>
                <div class='progress-container'>
                    <div class="progress-amount">45%</div>
                    <div class='progress-bar'></div>
                </div>
                <ul id='done-todo-list' class='todo-complete-set'>
                        <li id='list-item-template' class='list-item hidden'>
                            <div class='list-checkbox'></div>
                            <div class='list-content edit-label' tabindex='0'>Click to add new task</div>
                            <div class='list-control-panel'>
                                <i class="fa fa-trash-o list-delete-button" aria-hidden="true"></i>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="todo-button-set">
                <button type='button' class="todo-submit"><span>Save</span></button>
            </div>
        </div>

	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/javascripts/todolist.js"></script>
<script>todo_init();</script>
<script>floating_todo_init();</script>

