<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        
        
<!--  footer link    ---------------- -->
        
    
        
      <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<title>State College of Florida Libraries</title>

	<link rel="stylesheet" href="stylesheets/css/demo.css">
	<link rel="stylesheet" href="stylesheets/css/footer-distributed-with-address-and-phones.css">
	

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">  
        
        
        
	 <link rel="stylesheet" href="stylesheets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap-theme.min.css">
   
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        
        
        
        
        <style>
            
            .img-circle {
    border-radius: 50%;
}
            
            
            
            .change{
                
            position: relative;
            right: 20%;
            bottom: 20px;
 
            }
            
            
                        
            .change2{
                
            position: relative;
            right: 20%;
            bottom: 30px;
            color: dodgerblue;
            }
            
            
            
/*
            .line1{
                
                border-bottom: solid 3px black;
            
            }
*/
            
            
            
            
            
/*     footer   ----------------------------------    */
            
     

}
</style>

	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">A . J . A . M . K . A</a></h1>
								<hr />
								<p><!--[-->source for communication to help improve all aspects of your life<!--]--></p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Start</a>
							</footer>
						</div>

					<!-- Nav -->
						{{!--<nav id="nav">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="/chathome">Chat Room</a></li>
								<li><a href="/viewstory">Story Room</a></li>
								<li><a href='/entertain'>Journal</a></li>
								<li><a href='/mentor'>Mentor</a></li>
							</ul>
						</nav>--}}

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2><!--[-->Hi. Welcome to <strong>A.J.A.M.K.A</strong>.<!--]--></h2>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="/chathome" class="image featured"><img src="images/pic2.jpg" alt="" /></a>
							<header>
								<h3><a href="/chathome">CHATROOM</a></h3>
							</header>
							<p>Chat and share experiences with others.</p>
						</article>

						<article>
							<a href="/viewstory" class="image featured"><img src="images/pic3.jpg" alt="" /></a>
							<header>
								<h3><a href="/viewstory">STORYROOM</a></h3>
							</header>
							<p>Share and read experiences with others.</p>
                          
                            
						</article>

						<article>
							<a href="/journal" class="image featured"><img src="images/pic4.jpg" alt="" /></a>
							<header>
								<h3><a href="/journal">Journal</a></h3>
							</header>
							<p>Save personal entries accessible only by you..</p>
						</article>

						<article>
							<a href="/mentor" class="image featured"><img src="images/pic.jpg" alt="" /></a>
							<header>
								<h3><a href="/mentor">MENTOR</a></h3>
							</header>
							<p>People who will help you find the lessons and use them to move forward.</p>
						</article>

<!--
                        
						<article>
							<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Varius magnis sollicitudin</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>
-->

<!--
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Pulvinar sagittis congue</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>
-->

<!--
						<article>
							<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Fermentum sagittis proin</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>
-->

<!--
						<article>
							<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Sed quis rhoncus placerat</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>
-->

<!--
						<article>
							<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Ultrices urna sit lobortis</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>
-->

<!--
						<article>
							<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Varius magnis sollicitudin</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>
-->

					</div>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="/profilelist" class="image featured"><img src="images/pic6.jpg" alt="" /></a>
<!--
						<header>
							<h2><a href="#">Sed massa imperdiet magnis</a></h2>
							<p>
								Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
								pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
							</p>
						</header>
-->
<!--
						<p>
							Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
							posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
							sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam
							mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan
							lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
							consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
							interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
							natoque aenean scelerisque.
						</p>
-->
						<footer>
							{{#if authenticated}}
								<a  class="button" href="/myprofile">Check your profile</a>
							{{else}}
								<a  class="button" href="/auth/google">Login to check your profile</a>
							{{/if}}
						</footer>
					</article>

				</div>

			<!-- Features -->
<!--
           
				<div class="wrapper style1"  >

					<section id="features" class="container special">
						<header>
                            <h2><u>About Us</u></h2>
                            							<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
                        <p>&nbsp;</p>
                       
						</header>
						<div class="row">
							<article    class="4u 12u(mobile) special ">
								<a href="#" class="image featured"><img class="img-circle" src="images/moe.jpg" alt=""  style="width:120px;height:120px;"/></a>
								<header>
									<h3><a href="#" class="change">Mohammad Laknahour</a></h3>
                                    <p class="change2">Developer</p>
								</header>

							</article>
							<article class="4u 12u(mobile) special line1">
								<a href="#" class="image featured"><img  class="img-circle" src="images/alvin.jpg" alt=""  style="width:120px;height:120px;"/></a>
								<header>
                                    <h3><a href="#" class="change">Alvin Ortega</a></h3>
                                    <p class="change2">Developer</p>
								</header>

							</article>
							<article class="4u 12u(mobile) special ">
								<a href="#" class="image featured"><img class="img-circle" src="images/arminder.jpg" alt=""  style="width:120px;height:120px;"/></a>
								<header>
									<h3><a href="#" class="change">Arminder khinda</a></h3>
                                    <p class="change2">Developer</p>
								</header>

							</article>
                            

                            
                                                        
                            <article class="4u 12u(mobile) special">
								<a href="#" class="image featured"><img class="img-circle" src="images/jason.jpg" alt=""  style="width:120px;height:120px;"/></a>
								<header>
									<h3><a href="#" class="change">Jason Khalili</a></h3>
                                    <p class="change2">Developer</p>
								</header>

							</article>
                            
                            
                            
                            <article class="4u 12u(mobile) special">
								<a href="#" class="image featured"><img class="img-circle" src="images/Ayrin.jpg" alt=""  style="width:120px;height:120px;"/></a>
								<header>
									<h3><a href="#" class="change">Ayrin Golestanian</a></h3>
                                    <p class="change2">Designer</p>
								</header>

							</article>
                            
                            
                            							<article class="4u 12u(mobile) special">
								<a href="#" class="image featured"><img class="img-circle" src="images/kai.jpg" alt=""  style="width:120px;height:120px;"/></a>
								<header>
									<h3><a href="#" class="change">kai He</a></h3>
                                    <p class="change2">Designer</p>
								</header>

							</article>
                            
                            

						</div>
                        
                        

					</section>

				</div>
-->
            
            
            
            </div>
			<!-- Footer -->

		

			<div id="isAuthenticated" style="display: none;">
				{{authenticated}}
			</div>
		

		<!-- Scripts -->
			<script src="javascripts/js/jquery.dropotron.min.js"></script>
			<script src="javascripts/js/jquery.scrolly.min.js"></script>
			<script src="javascripts/js/jquery.onvisible.min.js"></script>
			<script src="javascripts/js/skel.min.js"></script>
			<script src="javascripts/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="javascripts/js/main.js"></script>


    
    <script src="javascripts/js/bootstrap.min.js"></script>

	</body>
</html>