

#myModal{
	background: white;
	padding: 20px 20px;
	width: 500px;
	border-radius: 10px;
	text-align: center;
}

.modal-error{
	padding: 0px 50px;
	display: inline-block;
}

.modal-right{
	display: inline-block;
	width: 300px;
}

.modal-close-button{
	display: block;
	background: #4ACAA8;
	color: white;
	border: 0px;
	margin: 0px auto;
	padding: 5px;
}

.modal-close-button:hover{
	background: #2c9378;
	cursor: pointer;
}