.edit-input{
	display: none;
}

.profile-button-update-set{
	display: none;
}

.edit-button, .dashed-bottom-button{
	border: 0px;
	padding: 3px 15px;
	margin: 0px 5px;
	letter-spacing: 0.02rem;
	text-transform: uppercase;
	font-size: 0.8em;
	background: none;
}

.dashed-bottom-button{
	color: white;
	background: #4ACAA8;
}

#header > header p{
	margin: 0px;
}

.center{
	margin: 0px auto;
}

.profile-story-item p{
	word-wrap: break-word;
}

.profile-journal-item{
	border-top: 0px !important;
	border-bottom: 1px solid #f4f4f4;
	width: 100%;
	margin: 0px !important;
	display: flex;
}

.journal-icon{
	display: inline-block;
	padding: 0px 20px;
}

.journal-title{
	display: inline-block;
}

.edit-button:hover, .dashed-bottom-button:hover{
	cursor: pointer;
	background: #2c9378;
	color: white;
}

.profile-pic-select{
	width: 110px;
	height: 110px;
}

#profile-pic-modal{
	background: white;
	padding: 30px 70px;
	z-index: 50;
}

.profile-pic-select{
	border-radius: 100%;
	box-sizing: border-box;
}

.profile-pic-select:hover{
	border-radius: 100%;
	cursor: pointer;
}

.profile-pic-select.selected{
	border: 2px solid black;
}

.text-center{
	text-align: center;
}

#header > header {
	margin-top: 50px;
}

.profile-pic-set{
	min-width: 580px;
	max-width: 580px;
	max-height: 550px;
	overflow: scroll;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

h1#logo{
	word-wrap: break-word;
}

.deletable-image{
	display: inline-block;
}

.deletable-image .close-button{
	border: 0px;
	background: #000000;
	color: #ffffff;
	border-radius: 100%;
}

.deletable-image .close-button:hover{
	background: gray;
}

.lean-overlay{
	z-index: 2 !important;
}